*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.banner{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.63) ), url(https://www.2iqresearch.com/hubfs/sb-blog-programming.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}
.banner h1{
    padding-top: 300px;
    text-align: center;
    font-size: 80px;
}
.banner p{
    text-align: center;
    padding-top: 30px;
    font-size: 18px;
    color: #c7c6c6;
    font-weight: lighter;
}
button{
    height: 40px;
    width: 140px;
    background-color: transparent;
    color: white;
    border-color: white;
    outline: none;
    font-size: 18px;
    cursor: pointer;
}
.banner button{
    margin-left: 600px;
    margin-top: 30px;
    margin-bottom: 150px;
}