{
  "swagger": "2.0",
  "info": {
    "description": "This is an API for ecommerce website",
    "version": "1.0.0",
    "title": "Swagger Petstore",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "rajatis1999@gmail.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "youtube.com",
  "basePath": "/v1",
  "tags": [
    {
      "name": "products",
      "description": "Everything about your Products"
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/products": {
      "post": {
        "tags": [
          "products"
        ],
        "summary": "Add a new product to the store",
        "description": "",
        "operationId": "addPet",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Product object that needs to be added to the store",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Product"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Invalid Input"
          },
          "403": {
            "description": "Not Authorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "definitions": {
    "Product": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "example": 1
        },
        "category": {
          "type": "string",
          "example": "Accessories"
        },
        "name": {
          "type": "string",
          "example": "Sun Glasses"
        },
        "photoUrls": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "stock": {
          "type": "integer",
          "description": "product count in the store",
          "example": 43
        }
      },
      "xml": {
        "name": "Pet"
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about StepApps",
    "url": "http://stepapps.in"
  }
}